{% if page is null %}
    {% redirect 'utilities/blitz-diagnostics' %}
{% endif %}

<div class="blitz-diagnostics">
    {{ include('blitz/_utilities/diagnostics/includes/crumbs', {
        thirdLevel: className(elementQueryType),
    }) }}

    <h1>
        Tracked {{ elementQueryType.displayName }} Queries
    </h1>

    {{ sprig('blitz/_utilities/diagnostics/components/elementQueries', {
        id: page.id,
        elementQueryType: className(elementQueryType),
        displayNamePlural: elementQueryType.lowerDisplayName ~ ' queries',
    }) }}
</div>
