{% extends 'blitz/_utilities/diagnostics/layout.twig' %}

{% if page is null %}
    {% redirect 'utilities/blitz-diagnostics' %}
{% endif %}

{% block content %}

    {{ include('blitz/_utilities/diagnostics/includes/crumbs', {
        thirdLevel: className(elementType),
    }) }}

    <h1>
        Tracked {{ elementType.pluralDisplayName }}
    </h1>

    {{ sprig('blitz/_utilities/diagnostics/components/elements', {
        id: page.id,
        elementType: className(elementType),
        displayName: elementType.displayName,
        displayNamePlural: elementType.pluralLowerDisplayName,
        hasUris: elementType.hasUris,
    }) }}

{% endblock %}
