{% extends 'blitz/_utilities/diagnostics/layout.twig' %}

{% if page is null %}
    {% redirect 'utilities/blitz-diagnostics' %}
{% endif %}

{% block content %}

    {{ include('blitz/_utilities/diagnostics/includes/crumbs', {
        thirdLevel: className(elementQueryType),
    }) }}

    <h1>
        Tracked {{ elementQueryType.displayName }} Queries
    </h1>

    {{ sprig('blitz/_utilities/diagnostics/components/elementQueries', {
        id: page.id,
        elementQueryType: className(elementQueryType),
        displayNamePlural: elementQueryType.lowerDisplayName ~ ' queries',
    }) }}

{% endblock %}
