{% do sprig.setConfig({ requestClass: 'busy' }) %}
{% set showSiteMenu = showSiteMenu ?? true %}

<div class="flex" style="margin-bottom: 10px;">
    <h1 style="margin: 0;">{{ 'Tracked Pages'|t('blitz') }}</h1>
    {% if craft.app.getIsMultiSite() %}
        {% include '_elements/sitemenu' with {
            selectedSiteId: siteId,
            urlFormat: 'utilities/blitz-diagnostics?siteId={id}&site={handle}',
        } only %}
    {% endif %}
</div>

{{ sprig('blitz/_utilities/diagnostics/components/pages', { siteId: siteId }) }}
