{% extends 'blitz/_utilities/diagnostics/layout.twig' %}

{% block content %}

    <header id="header">
        <div class="page-title flex">
            <h1>{{ 'Tracked Pages'|t('blitz') }}</h1>
            {% if craft.app.getIsMultiSite() %}
                {% include '_elements/sitemenu' with {
                    selectedSiteId: siteId,
                    urlFormat: 'utilities/blitz-diagnostics?siteId={id}&site={handle}',
                } only %}
            {% endif %}
        </div>
    </header>

    {{ sprig('blitz/_utilities/diagnostics/components/pages', { siteId: siteId }) }}

{% endblock %}
