{% extends 'blitz/_utilities/diagnostics/layouts/base' %}

{% set title = 'Diagnostics Report'|t('blitz') %}

{% block actionButton %}
    <a href="{{ actionUrl('blitz/diagnostics/download-report') }}" class="btn submit">
        Download Report
    </a>
{% endblock %}

{% block content %}
    <p class="warning">
        <span title="Warning" aria-label="Warning" data-icon="alert"></span>
        This report may be shared when requesting support. Sensitive data has been redacted, but should be double-checked before sharing publicly.
    </p>
    {{ include('blitz/_utilities/diagnostics/_includes/copytextarea', {
        value: report,
        class: 'code',
    }) }}
{% endblock %}
