includes:
    - %currentWorkingDirectory%/vendor/craftcms/phpstan/phpstan.neon
parameters:
    level: 5
    paths:
        - src
    scanFiles:
        # This file must be added to the project root:
        # https://github.com/craftcms/cms/blob/develop/lib/craft/behaviors/CustomFieldBehavior.php
        - %currentWorkingDirectory%/lib/craft/behaviors/CustomFieldBehavior.php
    bootstrapFiles:
        - %currentWorkingDirectory%/bootstrap.php
