# Based on https://github.com/craftcms/cms/blob/4.0/phpstan.neon
parameters:
    level: 1
    paths:
        - src
        - tests
    excludePaths:
        - tests/_craft/*
        - tests/_data/*
        - tests/_output/*
    bootstrapFiles:
        - tests/_bootstrap.php
    earlyTerminatingMethodCalls:
        Craft:
            - dd
        yii\base\Application:
            - end
        yii\base\ErrorHandler:
            - convertExceptionToError
