{% extends '_layouts/cp' %}

{% import "_includes/forms" as forms %}

{% macro configWarning(setting) -%}
    {{ "This is being overridden by the {setting} config setting."|t('app', {setting: '<code>' ~ setting ~ '</code>' })|raw }}
{%- endmacro %}

{% from _self import configWarning %}

{% do view.registerAssetBundle("putyourlightson\\blitz\\assets\\BlitzAsset") %}

{% set crumbs = [
    { label: 'Settings'|t('app'), url: url('settings') },
    { label: 'Plugins'|t('app'), url: url('settings/plugins') }
] %}

{% set title = 'Blitz' %}

{% set tabs = {
    general: {label: 'General'|t('blitz'), url: '#general'},
    storage: {label: 'Cache Storage'|t('blitz'), url: '#storage'},
    purger: {label: 'Reverse Proxy Purger'|t('blitz'), url: '#purger'},
    advanced: {label: 'Advanced'|t('blitz'), url: '#advanced'},
} %}

{% set fullPageForm = true %}


{% block actionButton %}

    <input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">

{% endblock %}


{% block content %}

    <input type="hidden" name="action" value="blitz/settings/save">
    <input type="hidden" name="pluginHandle" value="blitz">

    <div id="general">

        {% if craft.app.request.getParam('welcome') %}
            {% include 'blitz/_includes/welcome' %}
        {% endif %}

        {{ forms.lightswitchField({
            label: "Caching Enabled"|t('blitz'),
            instructions: "Whether caching should be enabled."|t('blitz'),
            warning: (config.cachingEnabled is defined ? configWarning('cachingEnabled')),
            name: 'settings[cachingEnabled]',
            on: settings.cachingEnabled,
            required: true,
        }) }}

        {% set info -%}
            {% include 'blitz/_includes/uri-pattern-info' %}
        {%- endset %}

        {% set cols = [
            {
                type: 'singleline',
                heading: 'URI Pattern'|t('blitz'),
                placeholder: "Leave blank to match the homepage"|t('blitz'),
                code: true,
                info: info,
            }
        ] %}

        {% if craft.app.getIsMultiSite() %}
            {% set siteOptions = [{value: '', label: 'All Sites'|t('blitz')}] %}
            {% for site in craft.app.sites.getAllSites() %}
                {% set siteOptions = siteOptions|merge([{value: site.id, label: site.name}]) %}
            {% endfor %}

            {% set cols = cols|merge([
                {
                    type: 'select',
                    heading: 'Site'|t('blitz'),
                    info: 'The site that the URI pattern should be applied to.'|t('blitz'),
                    options: siteOptions,
                }
            ]) %}
        {% endif %}

        <input type="hidden" name="includedUriPatterns" value="" />
        {{ forms.editableTableField({
            label: "Included URI Patterns"|t('blitz'),
            instructions: "The URI patterns to include in caching."|t('blitz'),
            warning: (config.includedUriPatterns is defined ? configWarning('includedUriPatterns')),
            name: 'settings[includedUriPatterns]',
            id: 'includedUriPatterns',
            cols: cols,
            rows: settings.includedUriPatterns,
            addRowLabel: "Add a URI pattern"|t('blitz'),
        }) }}

        <input type="hidden" name="excludedUriPatterns" value="" />
        {{ forms.editableTableField({
            label: "Excluded URI Patterns"|t('blitz'),
            instructions: "The URI patterns to exclude from caching (overrides any matching patterns to include)."|t('blitz'),
            warning: (config.excludedUriPatterns is defined ? configWarning('excludedUriPatterns')),
            name: 'settings[excludedUriPatterns]',
            id: 'excludedUriPatterns',
            cols: cols,
            rows: settings.excludedUriPatterns,
            addRowLabel: "Add a URI pattern"|t('blitz'),
        }) }}
    </div>

    <div id="storage" class="hidden">
        {{ forms.selectField({
            label: "Cache Storage"|t('blitz'),
            instructions: "The storage type to use for storing cached pages."|t('blitz'),
            warning: (config.cacheStorageType is defined ? configWarning('cacheStorageType')),
            name: 'settings[cacheStorageType]',
            options: storageTypeOptions,
            value: className(storageDriver),
            required: true,
            toggle: true,
        }) }}

        {% for driver in storageDrivers %}
            {% set isCurrent = (className(driver) == className(storageDriver)) %}
            <div id="{{ className(driver)|id }}"{% if not isCurrent %} class="hidden"{% endif %}>
                {% namespace 'cacheStorageSettings[' ~ className(driver) ~ ']' %}
                    {{ (isCurrent ? storageDriver : driver).getSettingsHtml()|raw }}
                {% endnamespace %}
            </div>
        {% endfor %}
    </div>

    <div id="purger" class="hidden">
        {{ forms.selectField({
            label: "Reverse Proxy Purger"|t('blitz'),
            instructions: "A purger to use for clearing cache in a reverse proxy."|t('blitz'),
            warning: (config.cachePurgerType is defined ? configWarning('cachePurgerType')),
            name: 'settings[cachePurgerType]',
            options: purgerTypeOptions,
            value: className(purgerDriver),
            toggle: true,
        }) }}

        {% for driver in purgerDrivers %}
            {% set isCurrent = (className(driver) == className(purgerDriver)) %}
            <div id="{{ className(driver)|id }}"{% if not isCurrent %} class="hidden"{% endif %}>
                {% namespace 'cachePurgerSettings[' ~ className(driver) ~ ']' %}
                    {{ (isCurrent ? purgerDriver : driver).getSettingsHtml()|raw }}
                {% endnamespace %}
            </div>
        {% endfor %}
    </div>

    <div id="advanced" class="hidden">
        {{ forms.lightswitchField({
            label: "Clear Cache Automatically"|t('blitz'),
            instructions: "Whether the cache should automatically be cleared when elements are updated."|t('blitz'),
            warning: (config.clearCacheAutomatically is defined ? configWarning('clearCacheAutomatically')),
            name: 'settings[clearCacheAutomatically]',
            on: settings.clearCacheAutomatically,
            required: true,
        }) }}

        {{ forms.lightswitchField({
            label: "Warm Cache Automatically"|t('blitz'),
            instructions: "Whether the cache should automatically be warmed after clearing."|t('blitz'),
            warning: (config.warmCacheAutomatically is defined ? configWarning('warmCacheAutomatically')),
            name: 'settings[warmCacheAutomatically]',
            on: settings.warmCacheAutomatically,
            required: true,
        }) }}

        {% set info %}
            <span class="info">{{ "The higher the number, the faster the cache will be warmed and the more server processing will be required. A number between 5 and 20 is recommended."|t('blitz') }}</span>
        {% endset %}
        {{ forms.textField({
            type: 'number',
            unit: "concurrent requests."|t('blitz'),
            label: "Concurrency"|t('blitz'),
            instructions: "The max number of multiple concurrent requests to use when warming the cache."|t('blitz') ~ info,
            warning: (config.concurrency is defined ? configWarning('concurrency')),
            name: 'settings[concurrency]',
            value: settings.concurrency,
            errors: settings.getErrors('concurrency'),
            required: true,
        }) }}

        {% set info %}
            <span class="info">{{ "This setting determines how URLs with query strings will be cached. See the [documentation]({url})."|t('blitz', {url: 'https://github.com/putyourlightson/craft-blitz#server-rewrite'}) }}</span>
        {% endset %}
        {{ forms.selectField({
            label: "Query String Caching"|t('blitz'),
            instructions: "Whether URLs with query strings should cached and how."|t('blitz') ~ info,
            warning: (config.queryStringCaching is defined ? configWarning('queryStringCaching')),
            name: 'settings[queryStringCaching]',
            options: {
                0: "Do not cache URLs with query strings"|t('blitz'),
                1: "Cache URLs with unique query strings as unique pages"|t('blitz'),
                2: "Cache URLs with unique query strings as the same page"|t('blitz'),
            },
            value: settings.queryStringCaching,
            required: true,
        }) }}

        {{ forms.autosuggestField({
            label: "API Key"|t('blitz'),
            instructions: "An API key that can be used to clear, flush, purge, warm, or refresh cache through a URL (min. 16 characters)."|t('blitz'),
            suggestEnvVars: true,
            suggestions: craft.cp.getEnvSuggestions(),
            name: 'settings[apiKey]',
            value: settings.apiKey,
            errors: settings.getErrors('apiKey'),
        }) }}

        {% if settings.apiKey and not settings.getErrors('apiKey') %}
            {% include 'blitz/_includes/api-urls' %}
        {% endif %}
    </div>

{% endblock %}