{% import '_includes/forms' as forms %}

<fieldset>
    <legend class="h6">Blitz</legend>
    <div class="meta">
        <div class="data">
            <h5 class="heading">Status</h5>
            <div class="value">{{ status|ucfirst }}</div>
        </div>
    </div>
</fieldset>
