{% import "_includes/forms" as forms %}

<form class="utility" method="post" accept-charset="UTF-8">
    <input type="hidden" name="action" value="blitz/cache/warm">
    {{ redirectInput('utilities/blitz-cache') }}
    {{ csrfInput() }}

    <p class="light">{{ 'Warming the Blitz cache will flush the cache and add a job to the queue to recache all of the files.'|t('blitz') }}</p>
    <input type="submit" class="btn submit" value="{{ 'Warm Blitz Cache'|t('blitz') }}" />
</form>

<br/>

<form class="utility" method="post" accept-charset="UTF-8">
    <input type="hidden" name="action" value="blitz/cache/flush">
    {{ redirectInput('utilities/blitz-cache') }}
    {{ csrfInput() }}

    <p class="light">{{ 'Flushing the Blitz cache will clear the cache and remove all records from the database.'|t('blitz') }}</p>
    <input type="submit" class="btn submit" value="{{ 'Flush Blitz Cache'|t('blitz') }}" />
</form>

<br/>

<form class="utility" method="post" accept-charset="UTF-8">
    <input type="hidden" name="action" value="blitz/cache/clear">
    {{ redirectInput('utilities/blitz-cache') }}
    {{ csrfInput() }}

    <p class="light">{{ 'Clear the Blitz cache by site.'|t('blitz') }}</p>

    {{ forms.checkboxSelect({
        name: 'siteIds',
        options: options,
        showAllOption: true,
        values: '*',
    }) }}

    <div class="buttons">
        <input type="submit" class="btn submit" value="{{ 'Clear Blitz Cache'|t('blitz') }}" />
    </div>
</form>

<br/>

<form class="utility" method="post" accept-charset="UTF-8">
    <input type="hidden" name="action" value="blitz/cache/refresh-expired">
    {{ redirectInput('utilities/blitz-cache') }}
    {{ csrfInput() }}

    <p class="light">{{ 'Refreshing the expired Blitz cache will refresh all elements that have expired.'|t('blitz') }}</p>
    <input type="submit" class="btn submit" value="{{ 'Refresh Expired Blitz Cache'|t('blitz') }}" />
</form>

