{% if craft.app.request.getParam('welcome') %}

    <div class="flex spaced">
        {% include 'blitz/_includes/welcome/step' with {step: 3, text: 'There is no step 3'} %}

        <div class="flex-grow">
            {{ 'Save the settings and your site pages will automatically be cached when visited. If you like, you can warm the entire cache using the <a href="{url}" target="_blank">Blitz Cache Utility</a>.'|t('blitz', {url: cpUrl('utilities/blitz-cache')})|raw }}
        </div>
    </div>

    <div class="welcome bottom readable">
        <p>
            {{ 'Everything else is optional.'|t('blitz') }}
            📖{{ 'More in the <a href="{url}" class="go" target="_blank">Getting Started Guide</a>'|t('blitz', {url: docs ~ 'getting-started'})|raw }}
        </p>
    </div>

{% endif %}
