{% if craft.app.request.getParam('welcome') %}

    <div class="welcome top readable">
        <img src="{{ craft.app.assetManager.getPublishedUrl('@putyourlightson/blitz/resources/images/putyourlightson-logo.svg', true) }}" class="logo">
        <div class="main">
            <div class="icon">
                {% set icon = craft.app.plugins.getPluginIconSvg('blitz') %}
                {{ svg(icon, sanitize=true) }}
            </div>
            <h1>{{ 'Thanks for using Blitz!'|t('blitz') }}</h1>
        </div>
    </div>

    <div class="readable spaced">
        <h2>{{ 'Get started in three simple steps:'|t('blitz') }}</h2>
    </div>

{% endif %}
