.welcome {
    position: relative;
    text-align: center;
    padding: 30px;
    margin-bottom: 30px;
    background: #ECF8FF;
    border-radius: 10px;
}

.welcome .watermark {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    max-width: 30%;
    max-height: 90%;
}

.welcome .main {
    position: relative;
}

.welcome .icon {
    height: 150px;
}

.welcome ol {
    list-style-position: inside;
}

.info-hud {
    max-width: 485px;
}

.info-hud li {
    margin: 2px 0;
}

.info-hud code {
    padding: 4px 5px;
    background: #ececec;
    border-radius: 3px;
}

table.editable tbody tr td {
    text-align: left;
}

table.editable th.code {
    font-family: inherit;
    font-size: inherit !important;
}
