.welcome {
    display: flex;
    margin: 20px 0 40px 0;
}

.welcome .icon {
    flex-direction: row;
    height: 210px;
}

.welcome .readable {
    flex-direction: row;
}

.info-hud {
    max-width: 450px;
}