<p class="light">
    {{ 'Yii cache drivers can be swapped out by overriding the cache application component. <a href="{url}" class="go" target="_blank">Learn more</a>'|t('blitz', {url: 'https://docs.craftcms.com/v3/config/app.html#cache-component'})|raw }}
</p>
