<p>
    <code>Clear the cache and regenerate in a queue job</code>
    <br>
    Select this if updated content should be applied as soon as possible and if cached pages should be automatically regenerated.
</p>
<p>
    <code>Expire the cache and regenerate in a queue job</code>
    <br>
    Select this for higher traffic sites, to continue serving (stale) cached pages until they are automatically regenerated.
</p>
<p>
    <code>Clear the cache, regenerate manually or organically</code>
    <br>
    Select this if updated content should be applied as soon as possible but if cached pages should be regenerated manually (via a cron job) or organically (when pages are visited).
</p>
<p>
    <code>Expire the cache, regenerate manually or organically</code>
    <br>
    Select this for higher traffic sites, to continue serving (stale) cached pages until they are regenerated manually (via a cron job) or organically (when pages are visited).
</p>
