{{ 'The URI pattern relative to the site’s base URL. Regular expressions can be used for pattern matching.'|t('blitz') }}
<a href="{{ docs ~ 'included-excluded-uri-patterns' }}" class="go" target="_blank">Learn more</a>

- A blank field matches the homepage.
- `.*` matches everything.
- `.` matches any character.
- `\d` matches any digit.
- `\w` matches any word character.
- `entries` matches anything containing “entries”.
- `^entries` matches anything beginning with “entries”.
- `^entries/entry$` matches an exact URI.
