{{ 'The URI pattern relative to the site’s base URL. Regular expressions can be used for pattern matching. <a href="{url}" class="go" target="_blank">Learn more</a>'|t('blitz', {url: docs ~ 'included-excluded-uri-patterns'})|raw }}

- A blank field matches the homepage.
- `.*` matches everything.
- `.` matches any character.
- `\d` matches any digit.
- `\w` matches any word character.
- `entries` matches anything containing “entries”.
- `^entries` matches anything beginning with “entries”.
- `^entries/entry$` matches an exact URI.
