{% import "_includes/forms" as forms %}


{{ forms.autosuggestField({
    label: "API Key"|t('blitz'),
    instructions: "The API key for your Cloudflare account."|t('blitz'),
    name: 'apiKey',
    suggestions: craft.cp.getEnvSuggestions(),
    value: purger.apiKey,
    errors: purger.getErrors('apiKey'),
    required: true,
}) }}

{{ forms.autosuggestField({
    label: "Email"|t('blitz'),
    instructions: "The email address associated with your Cloudflare account."|t('blitz'),
    name: 'email',
    suggestions: craft.cp.getEnvSuggestions(),
    value: purger.email,
    errors: purger.getErrors('email'),
    required: true,
}) }}

{{ forms.autosuggestField({
    label: "Zone ID"|t('blitz'),
    instructions: "The zone ID of your Cloudflare account."|t('blitz'),
    name: 'zoneId',
    suggestions: craft.cp.getEnvSuggestions(),
    value: purger.zoneId,
    errors: purger.getErrors('zoneId'),
    required: true,
}) }}
