{% extends 'blitz/_utilities/diagnostics/layouts/param' %}

{% set param = craft.app.request.param('param') %}
{% set title = param %}

{% block pageTitle %}
    <h1 class="screen-title" title="{{ title }}">
        <code>{{ title }}</code>
    </h1>
{% endblock %}

{% block content %}
    {{ sprig('blitz/_utilities/diagnostics/_components/paramPages', {
        siteId: siteId,
        param: param,
        displayName: 'Page',
        pluralDisplayName: 'Pages',
    }) }}
{% endblock %}
