{% extends 'blitz/_utilities/diagnostics/layouts/elements' %}

{% set element = craft.blitz.diagnostics.getElement() %}
{% if element is null %}
    {% redirect 'blitz/diagnostics/elements' with error 'The element no longer exists.' %}
{% endif %}
{% set title = element.title %}
{% set crumbs = [
    {
        label: 'Tracked ' ~ element.pluralDisplayName,
        url: cpUrl('blitz/diagnostics/elements/element-type', { 'elementType': className(element) }),
    },
] %}

{% block pageTitle %}
    <h1>
        {{ craft.blitz.diagnostics.getElementChip(element) }}
    </h1>
{% endblock %}

{% block content %}
    {{ sprig('blitz/_utilities/diagnostics/_components/pages', {
        siteId: siteId,
        elementId: element.id,
        displayName: 'Page/Include',
        pluralDisplayName: 'Pages/Includes',
    }) }}
{% endblock %}
